<menu class="menu">
  <li><a class="btn" href="{{ path("app_acceuil_index") }}">Acceuil</a></li>
  {% if is_granted("ROLE_ADMIN") %}
    <li><a class="btn" href="{{ path("app_csv_import") }}">Import Fichier</a></li>
  {% endif %}
  <li><a class="btn" href="{{ path("app_recherche_init") }}">Tableau de Recherche</a></li>
  <li><a class="btn" href="{{ path("app_task_index") }}">Tache</a></li>
</menu>

<style>
.menu, ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 50rem;
}

li {
  flex-grow: 1;
}

.btn {
  width: 100%;
  text-decoration: none;
  border: 1px black solid;
  padding: 12px;
}

</style>